@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);
@import url(http://fonts.googleapis.com/css?family=Exo:400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);





@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), 
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), 
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}