@charset "utf-8";
/* CSS Geral BASIC */

/* Nome das Fontes:
font-family: 'cabinregular';
font-family: 'cabinbold';
font-family: 'bebasregular';
font-family: 'pt_sansbold';
font-family: 'pt_sansregular';
font-family: 'yanone_kaffeesatzbold';
font-family: 'yanone_kaffeesatzregular';
*/

@import url('fonts.css');



/* Reset */
* {margin:0; padding:0; text-decoration:none;}
body, img, p, h1, h2, h3, h4, h5, h6, ul, ol, li, select, input {margin:0 auto; padding:0; list-style:none; outline:none; border:none;}
/* End Reset */



.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top20 { margin-top:20px; }
.top25 { margin-top:25px; }
.top28 { margin-top:28px; }
.top30 { margin-top:30px; }
.top35 { margin-top:35px; }
.top40 { margin-top:40px; }
.top45 { margin-top:45px; }
.top50 { margin-top:50px; }
.top55 { margin-top:55px; }
.top60 { margin-top:60px; }
.top65 { margin-top:65px; }
.top70 { margin-top:70px; }
.top75 { margin-top:75px; }
.top80 { margin-top:80px; }
.top85 { margin-top:85px; }
.top90 { margin-top:90px; }
.top100 { margin-top:100px; }
.top105 { margin-top:105px; }
.top135 { margin-top:135px; }
.top195 { margin-top:195px; }


.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom20 { margin-bottom:20px; }
.bottom25 { margin-bottom:25px; }
.bottom30 { margin-bottom:30px; }
.bottom35 { margin-bottom:35px; }
.bottom40 { margin-bottom:40px; }
.bottom45 { margin-bottom:45px; }
.bottom50 { margin-bottom:50px; }
.bottom55 { margin-bottom:55px; }
.bottom60 { margin-bottom:60px; }
.bottom60 { margin-bottom:60px; }
.bottom65 { margin-bottom:65px; }
.bottom70 { margin-bottom:70px; }
.bottom75 { margin-bottom:75px; }
.bottom80 { margin-bottom:80px; }
.bottom100 { margin-bottom:100px; }
.bottom120 { margin-bottom:120px; }
.bottom135 { margin-bottom:135px; }


.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left20 { margin-left:20px; }
.left25 { margin-left:25px; }
.left30 { margin-left:30px; }
.left35 { margin-left:35px; }
.left40 { margin-left:40px; }
.left45 { margin-left:45px; }
.left50 { margin-left:50px; }
.left55 { margin-left:55px; }
.left60 { margin-left:60px; }
.left65 { margin-left:65px; }
.left70 { margin-left:70px; }
.left75 { margin-left:75px; }
.left80 { margin-left:80px; }
.left130 { margin-left:130px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right20 { margin-right:20px; }
.right25 { margin-right:25px; }
.right30 { margin-right:30px; }
.right35 { margin-right:35px; }
.right40 { margin-right:40px; }
.right45 { margin-right:45px; }
.right50 { margin-right:50px; }
.right55 { margin-right:55px; }
.right60 { margin-right:60px; }
.right65 { margin-right:65px; }
.right70 { margin-right:70px; }
.right75 { margin-right:75px; }
.right80 { margin-right:80px; }
.right130 { margin-right:130px; }

.pt20 { padding-top:20px; }
.pt30 { padding-top:30px; }
.pt40 { padding-top:40px; }
.pt60 { padding-top:60px; }
.pt80 { padding-top:80px; }
.pt100 { padding-top:100px; }
.pt300 { padding-top:300px; }



.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.pb40 { padding-bottom:40px; }
.pb60 { padding-bottom:60px; }
.pb80 { padding-bottom:80px; }
.pb100 { padding-bottom:100px; }
.pb300 { padding-bottom:300px; }

.pr5 { padding-right: 5px; }

.container{
	width: 1170px;
}


.input100{
	width: 100% !important;
}

.fonte-cabin{
	font-family: 'Cabin', sans-serif;
}

body{
	font-family: 'Lato', sans-serif;
}


h1{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color: #225d7f;
}

h2{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #225d7f;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #000;
}

h4{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	color: #225d7f;
}

h5{
	text-align: justify;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color: #fff;
	text-shadow: 0.1em 0.1em 0.05em #333
}

h6{
	text-align: justify;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color: #225d7f;
}


p{
	font-weight: 300;
	font-family: 'Lato', sans-serif;
	text-align: justify;
	color: #000;
	font-size: 20px;
}

a:hover{
	text-decoration: none;
}



/**
============================================
			  topo
============================================
*/

.topo-telefone h1{
	margin-right: 0px;
	width: 200px;
	padding: 17px 30px;
	font-size: 20px;
	color: #fff;
	font-weight: 400;
	background: #225d7f;
}


.topo-telefone h2{
	font-size: 30px;
	color: #000;
	font-weight: 700;
}

.topo-telefone span{
	font-size: 20px;
	color: #000;
	font-weight: 400;
}

.topo-pesquisa h1{
	font-family: 'Cabin', sans-serif;
	width: 207px;
	padding: 17px 26px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background: #225d7f;
}

.barra-pesquisa-topo{
	background: #dbdbdd;
}

.barra-pesquisa-topo1{
	font-weight: 300;
	color: #000;
	font-size: 17px;
	margin-right: 20px;
	width: 100%;
}

.posicao-logo{
	margin-top:-50px;
}

.barra-pesquisa-topo1 .caret {
	margin-left: 105px;
}

.navbar-default span {
	padding: 5px;
}

.navbar-default {
	background-color: #f8f8f8;
	border-color: #000;
	-webkit-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.75);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: #184159;
	text-align: center;
	height: 80px;
	font-weight: 300;
	color: #fff;
	padding-top: 17px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
	margin-left: -14px;
	font-weight: 300;
	height: 80px;
	background-color: #184159;
	padding-top: 17px;
}

.nav>li>a {
	margin-left: -14px;
	font-weight: 300;
	text-align: center;
	color: #fff !important;
	font-size: 17px;
	position: relative;
	display: block;
	padding: 17px 38px 0px;
}

.navbar-collapse {
	background: #225d7f;
}


.badge {
	display: inline-block;
	min-width: 10px;
	padding: 8px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #fff;
	border-radius: 5px;
}

.personalizar-carrinho h3{
	text-align: center;
	display: block;
	padding: 17px 26px;
	font-size: 17px;
	color: #fff;
	font-weight: 700;
	background: #112e3f;
}

.btn-azul{
	margin-right: 7px;
	color: #fff;
	background: #225d7f;
}

.btn-azul:hover{
	margin-right: 7px;
	color: #fff;
	background: #225d7f;
}

.personalizar-carrinho{
	margin-top: -101px;
	width: 25%;

}
.personalizar-carrinho span{
	margin-left: 10px;
}

.fa {
	margin-left: 8px;
}

.fundo-cinza{
	height: 200px;
	background: url(../imgs/fundo-cinza-topo.png) top center ;
}

.fundo-cinza1{
	background: url(../imgs/fundo-cinza-topo.png) top center ;
}

.subir-menu{
	margin-top: -47px;
}

/**
============================================
			  topo
============================================
*/


/**
============================================
			  RODAPE
============================================
*/

.rodape-preto{
	background: #000;
}

.rodape-preto h5{
	padding: 13px 0px;
	font-weight: 300;
	font-size:20px;
	color:#fff;


}

.rodape-cinza{
	background: #282828;
}

.menu-rodape li a {
	color: #fff;
	font-size: 19px;
	font-weight: 300;
	margin-right: 20px;
}

.menu-rodape li a:hover {
	color: #0059bc;
}

.bg-menu-rodape {
	border-bottom: 1px solid #fff;
	padding-bottom: 15px;
}

.rodape-cinza p i {
	color: #fff;
	margin-right: 10px;
}

.rodape-cinza p {
	color: #fff;
	font-weight: 300;
	font-size: 19px;
}


/**
============================================
			  RODAPE
============================================
*/

/**
============================================
			  HOME
============================================
*/

.pagina{
	width: 1170px;
	position: absolute;
	margin-left: -585px;
	left: 50%;
	top: 0px;
	z-index: 10;
}


.pagina-full{
	width: 100%;
	position: absolute;
	z-index: 99;
	top: 0px;
}


.categorias-home{
    margin-top: -300px;
}




.categorias-home h1{
	font-size: 17px;
	color: #fff;
	font-weight: 300;
}

.categorias-home h2{
	font-size: 30px;
	color: #fff;
	font-weight: 700;
	text-shadow: 3px 3px 2px rgba(150, 150, 150, 1);
}


.categorias-home .flexslider{
	background: none;
	border: none;
}

.categorias-home .slider-prod-tumb li{
	width: 170px;
	height: 136px;
	background: url(../imgs/bg-categorias-home.png);
	text-align: center;
	margin-right: 30px;
}

.categorias-home .slider-prod-tumb li a{
	height: 100%;
	overflow: hidden;
	width: 170px;
	height: 136px;
	display: block;
}


.categorias-home .flex-direction-nav a {
    margin-top: -4px;
}

.categorias-home .flex-nav-next{

}

.categorias-home .flexslider .slides img{
	width: auto;
}



.slider-produtos .flexslider{
	margin: 0 0 7px !important;
}

.slider-produtos .slides img {
    border: 1px solid #225d7f;
    height: auto;
}


.slider-produtos1 .flexslider{
	margin: 0 0 7px !important;
}

.slider-produtos1 .slides img {
}

.slider-prod-dentro1 .slides > li {
    margin-left: 30px;
}

.descer-saiba-mais{
	background: #225d7f;
	padding: 28px 50px;
	border-radius: 0px;
	font-size: 20px;
	font-weight: 300;
	margin-top: -1183px;
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ------------------------------- */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
#container_banner {
	width: 100%;
	height: 1031px;
	margin: 0px auto;
	overflow: hidden;
	top: 0px;
	position: relative;
}

#content_slider {
	width: 1920px;
	height: 960px;
	overflow: visible;
	position: absolute;
	margin-left: -960px;
	left: 50%;
}


#content_slider .royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide,
#content_slider .rsOverflow{
	overflow: visible;
}

#content-slider-1{
	overflow: visible;
	height: 960px;
}

#content_slider .descricao-banner{
	width: 940px;
	height: 235px;
	padding: 30px;
	background: #ec3d35 url(../imgs/bg-slider.jpg) bottom center no-repeat;
	position: absolute;
	margin-left: -485px;
	left: 50%;
	bottom: -80px !important;
}

#content_slider .descricao-banner h4{
	font-size: 35px;
	color: #fff;
	font-weight: 100;
	text-decoration: underline;
	text-align: center;
}

#content_slider .descricao-banner p{
	font-size: 17px;
	color: #fff;
}

#content_slider .descricao-banner .btn-slider{
	color: #fff;
	background: #ec3d35;
	border: 1px solid #fff;
	margin-top: 18px;
}

#content_slider .descricao-banner .btn-slider:hover{
	color: #ec3d35;
	background: #fff;
	border: 1px solid #fff;
}



#content_slider .rsNavItem{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/*	background: #fff;*/
	float: left;
	margin-right: 10px;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);
}


#content_slider .rsNavSelected{
	background: #fff;
}

#content_slider .rsNav {
	width: 200px;
	z-index: 2;
	position: relative;
	bottom: 500px;
	left: 47%;

}


/*.slides, .slides > li, .flex-control-nav, .flex-direction-nav {
	margin-left: 19px !important;
}
*/




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* ------------------------------- BANNER  ---------------------------- */
/* XXXXXXXX





/**
============================================
			  HOME
============================================
*/


/**
============================================
				produtos -home
============================================
*/


.produtos-home{
	padding: 0px;
}

.produtos-home h2{
	border-bottom: 2px solid #225d7f;
	padding: 10px 0px;
	font-size: 40px;
	color: #225d7f;
	font-weight: 300;
}

.produtos-home h1{
	height: 39px;
	overflow: hidden;
	padding-bottom: 10px;
	font-family: 'MyriadPro-Regular';
	font-size: 18px;
	color: #225d7f;
	font-weight: 400;
}

.produtos-home h3{
	text-align: left!important;
	padding: 5px 0px;
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	color: #225d7f;
	font-weight: 300;
}



.produtos-home h3+h3{
	padding-bottom: 16px;
	background: url(../imgs/barra-produtos-home.png) left bottom no-repeat;
}


/**
============================================
	effects css na imagem
============================================
*/
.view {
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask, .view .content {
/*
	width: 500px;
	height: 400px;
	*/
	position: absolute;
	overflow: hidden;
	top: 116px;
	left: 0;
	width: 98%;
}
.view img {
	display: block;
	position: relative;
}
.view h2 {
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 25px;
	background: rgba(0, 0, 0, 0.8);
}
.view p {
	font-weight: 300;
	font-size: 25px;
	position: relative;
	color: #fff;
	padding: 5px 20px;
	text-align: center;
}
.view a.info {
	display: inline-block;
	text-decoration: none;
	/*background: #000;*/
	color: #fff;
	text-transform: uppercase;

}
.view a.info: hover {
	-webkit-box-shadow: 0 0 5px #000;
	-moz-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
}

.view-second img {
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.view-second .mask {
	background:url(../imgs/fundo-transparente-portifolio.png);
	width: 2000px;
	height: 1000px;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transform: translate(265px, 145px) rotate(45deg);
	-moz-transform: translate(265px, 145px) rotate(45deg);
	-o-transform: translate(265px, 145px) rotate(45deg);
	-ms-transform: translate(265px, 145px) rotate(45deg);
	transform: translate(265px, 145px) rotate(45deg);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	background: transparent;
	/*margin: 20px 40px 0px 40px;*/
	-webkit-transform: translate(200px, -200px);
	-moz-transform: translate(200px, -200px);
	-o-transform: translate(200px, -200px);
	-ms-transform: translate(200px, -200px);
	transform: translate(200px, -200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second p {
	-webkit-transform: translate(-200px, 200px);
	-moz-transform: translate(-200px, 200px);
	-o-transform: translate(-200px, 200px);
	-ms-transform: translate(-200px, 200px);
	transform: translate(-200px, 200px);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.view-second a.info {
	-webkit-transform: translate(0px, 100px);
	-moz-transform: translate(0px, 100px);
	-o-transform: translate(0px, 100px);
	-ms-transform: translate(0px, 100px);
	transform: translate(0px, 100px);
	-webkit-transition: all 0.2s 0.1s ease-in-out;
	-moz-transition: all 0.2s 0.1s ease-in-out;
	-o-transition: all 0.2s 0.1s ease-in-out;
	-ms-transition: all 0.2s 0.1s ease-in-out;
	transition: all 0.2s 0.1s ease-in-out;
}
.view-second:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translate(-80px, -125px) rotate(45deg);
	-moz-transform: translate(-80px, -125px) rotate(45deg);
	-o-transform: translate(-80px, -125px) rotate(45deg);
	-ms-transform: translate(-80px, -125px) rotate(45deg);
	transform: translate(-80px, -125px) rotate(45deg);
}
.view-second:hover h2 {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	-ms-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.view-second:hover p {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	-ms-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.view-second:hover a.info {
	-webkit-transform: translate(0px,0px);
	-moz-transform: translate(0px,0px);
	-o-transform: translate(0px,0px);
	-ms-transform: translate(0px,0px);
	transform: translate(0px,0px);
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-o-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.produto-hover{
	position: absolute;
	width: 269px;
	height: 254px;
	top: 0px;
	opacity: 0;
	padding-top: 80px;
}






/**

/**
============================================
				produtos -home
============================================
*/


/**
============================================
				servicos -home
============================================
*/

.bg-servicos-home{
	height: 732px;
	background: url(../imgs/bg-servicos-home.jpg) top center no-repeat;

}


.servicos-home{
	max-height: 287px;
	overflow: hidden;
}

.servicos-home h2{
	border-bottom: 2px solid #000;
	font-size: 30px;
	color: #000;
	font-weight: 300;

}


.servicos-home p{
	font-size: 25px;
	color: #000;
	font-weight: 300;

}

.servicos-home h1{
	font-size: 30px;
	color: #000;
	font-weight: 300;
	border-bottom: 2px solid #000;

}

.saiba-mais-servicos-home{
	line-height: 20px;
}


.saiba-mais-servicos-home h3{
	font-size: 25px;
	color: #000;
	font-weight: 300;
}

.fa-star:before {
	padding-right: 10px;
}

.fa-plus-square:before {
	padding-right: 10px;
	color: #225d7f;
}
/**
============================================
				servicos -home
============================================
*/


/**
============================================
				dicas -home
============================================
*/


.dicas-home h1{
	border-bottom: 2px solid #225d7f;
	padding-top:40px;
	font-size: 40px;
	color: #225d7f;
	font-weight: 700;
}

.dicas-home1 h1{
	height: 50px;
	overflow: hidden;
	font-family: 'MyriadPro-Regular';
	font-size: 25px;
	color: #225d7f;
	font-weight: 400;
}

.dicas-home1 h2{
	text-align: justify;
	height: 92px;
	overflow: hidden;
	margin-top: 20px;
	font-size: 20px;
	color: #000;
	font-weight: 300;
}

.borda-azul{
	background: url(../imgs/barra-dicas-home.png) bottom center no-repeat;
	padding-bottom: 20px;
}

/**
============================================
				dicas -home
============================================
*/


/**
============================================
				Empresa
============================================
*/

.bg-empresa{
	margin-top: -55px;
	height: 335px;
    background: url(../imgs/bg-empresa.jpg) top center  no-repeat;
}

.descricao-empresa h3{
	padding-bottom: 10px;
	background: url(../imgs/barra-produtos-dentro.jpg) bottom left no-repeat;
	font-size: 40px;
	color: #225d7f;
	font-weight: 700;
}

.descricao-empresa11 h3{
	padding-bottom: 10px;
	background: url(../imgs/barra-produtos-dentro1.jpg) bottom left no-repeat;
	font-size: 40px;
	color: #225d7f;
	font-weight: 700;
}

.descricao-empresa1{
	background: #eeeeee;
}


.descricao-empresa p{
	padding: 30px 0px;
	font-size: 25px;
	color: #225d7f;
	font-weight: 300;
}

.descricao-empresa1 p{
	padding: 30px 10px;
	font-size: 25px;
	color: #000;
	font-weight: 300;
}

.personalizar-carroucel h1{
	margin-top: 50px;
	padding-bottom: 10px;
	background: url(../imgs/barra-depoimento-empresa.jpg) bottom left no-repeat;
	font-size: 40px;
	font-weight: 300;
	color:#225d7f;
}

.personalizar-carroucel p{
	font-size: 20px;
	font-weight: 300;
	color:#000;
	max-height: 258px;
    overflow: hidden;
}

.personalizar-carroucel h2{
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	color:#225d7f;
}

.controle-esquerdo.left{
	right: 0;
	left: 721px;
	background-image:none;
}


.controle-direito.right{
	right: 150px;
	left: auto;
	background-image: none;
}

.posicao-caroucel {
	top: 360px;
}
.posicao-caroucel .glyphicon-chevron-right, .posicao-caroucel .icon-next {
	color:#0e567f;
}

.posicao-caroucel .glyphicon-chevron-left, .posicao-caroucel .icon-prev {
	color:#0e567f;
}


.fundo-azul{
	background: #225d7f;
	-webkit-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.nosso-portifolio-empresa h1{
	border-bottom: 2px solid #fff;
	font-weight: 700;
	font-size:40px ;
	color:#fff;
	display: inline;
}


.nossas-dicas-empresa h3{
	padding: 58px 0px 32px 0px;
	font-size: 40px;
	font-weight: 300;
	color: #225d7f;
}

.controle-esquerdo1.left{
	right: 0;
	left: 411px;
	background-image:none;
}


.controle-direito1.right{
	right: 380px;
	left: auto;
	background-image: none;
}




/**
============================================
				Empresa
============================================
*/


/**
============================================
			dicas geral e internas
============================================
*/
.bg-dicas{
	margin-top: -55px;
	height: 335px;
	background: url(../imgs/bg-dicas.jpg) top center no-repeat;
}

.bg-portfolios{
	margin-top: -55px;
	height: 350px;
	background: url(../imgs/bg-portfolios.jpg) top center no-repeat;
}




.descricao-dicas h1{
	padding-bottom: 10px;
	border-bottom: 4px solid #225d7f;
	font-size: 40px;
	color: #225d7f;
	font-weight: 700;
}

.topo-pesquisa1 h1 {
	font-family: 'Cabin', sans-serif;
	width: 207px;
	padding: 17px 44px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background: #225d7f;
}

.topo-pesquisa11 h1 {
	font-family: 'Cabin', sans-serif;
	width: 270px;
	padding: 17px 44px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background: #225d7f;
}


.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group {
	margin-left: -1px;
	color: #fff;
	background-color: #225d7f;
}

.ultimas-notocias h1{
	padding-bottom: 10px;
}

.ultimas-notocias{
	padding-bottom: 20px;
	border-bottom:4px solid #225d7f !important;
}

.ultimas-notocias h3{
	height: 63px;
	overflow: hidden;
}

.comentario h4{
	margin-top: 32px;
	border-bottom:4px solid #225d7f !important;
}

.descricao-comentario{
	background: #e5e5e5;
}

.descricao-comentario h1,.descricao-comentario p{
	color:#225d7f;
}

.descricao-comentario h1{
	font-weight: 700;
}

.descricao-comentario p{
	padding-bottom: 20px;
}
/**
============================================
			dicas geral e internas
============================================
*/



/**
============================================
			produtos geral e internas
============================================
*/



.bg-produtos{
	margin-top: -55px;
	height: 335px;
	background: url(../imgs/bg-produtos.jpg) top center no-repeat;
}

.controle,.controle:hover{
	color: #225d7f;
	top: 110%;
	width: 91%;
}

.controle-descricao h5{

}

.btn-saiba-produtos{
	padding-top: 16px;
	background: #225d7f;
	height: 73px;
	width: 252px;
	color: #fff;
	font-size: 25px;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.lista-categorias li{
	margin-bottom: 9px;
	padding-top: 0px;
}

.lista-categorias li a:hover {
	background: #174c69;
}

.lista-categorias li a {
	text-align: right !important;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background:#225d7f;
	font-size: 17px;
	color: #fff;
	border-radius: 0px;
	height: 70px;
    padding: 0px;
    padding-right: 8px;
}


.lista-categorias li a span{
	display: table-cell !important;
	vertical-align: middle !important;
	height: 70px !important;
	text-align: right  !important;
    width: 170px !important;
}


.lista-categorias .texto-link{
	text-align: right !important;
	display: table-cell;
	vertical-align:middle;
	height: 70px;
}



.paginacao>li>a, .paginacao>li>span {
	background-color: #90aebf;
	color: #fff;
}

.paginacao>li>a:hover, .paginacao>li>span:hover{
	background-color: #225d7f;
	color: #fff;
}

.barra-pesquisa-topo11 .caret {
	margin-left: 14px;
}

.barra-pesquisa-topo11 {
	font-weight: 300;
	color: #000;
	font-size: 17px;
	margin-right: 20px;
	width: 100%;
}

.topo-pesquisa1 h1 {
	margin-left: -20px;
	text-align: left !important;
	font-family: 'Cabin', sans-serif;
	width: 207px;
	padding: 17px 26px;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	background: #225d7f;
}

.btn-voltar,.btn-voltar:hover{
	background: #e5e5e5;
	color: #225d7f;
	font-size: 17px;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	height: 36px;
	width: 126px;
}

.fa-angle-left:before {
	padding-right: 13px;
}

.descricao-produtos p{
	margin-bottom: 6px;
}

/*star rating*/
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;
	text-align: center;
}
.rating > span {
	font-size: 20px;
	display: inline-block;
	position: relative;
	width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
	color: transparent;
	cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
	content: "\2605";
	position: absolute;
	left: 0;
	color: gold;
}
.descricao-produtos p{
	color: #225d7f;
	font-size: 14px;
}

.topo-telefone1 h6{
	padding-bottom: 10px;
	background: url(../imgs/barra-produtos-dentro.png) bottom left no-repeat;
}

.topo-telefone1 h2 {
	margin-top: 20px;
	font-size: 26px;
	color: #000;
	font-weight: 700;
}

.topo-telefone1 span {
	font-size: 20px;
	color: #000;
	font-weight: 400;
}

.topo-telefone1 input{
	color: #225d7f;
	font-size: 15px;
	width: 46px;
	height: 50px;
	border: 1px solid #225d7f;
	text-align: center;
}

.topo-telefone1 a{
	font-size: 25px;
}

.topo-telefone1 img {
	margin-top: 30px;
}

.descricao-empresa11 h6{
	font-weight: 700;
}

.descricao-empresa11 p{
	margin-top: 17px;
	color:#225d7f;
}


/**
============================================
			produtos geral e internas
============================================
*/


/**
============================================
			ORCAMENTO
============================================
*/

.bg-orcamento{
	margin-top: -55px;
	height: 330px;
	background: url(../imgs/bg-orcamento.jpg) top center no-repeat;
}

.faleConosco {
	margin-top: -55px;
}
.descricao-orcamento h3{
	padding-bottom: 10px;
	background: url(../imgs/barra-produtos-orcamento.jpg) bottom left no-repeat;
	font-size: 40px;
	color: #225d7f;
	font-weight: 700;
}

.fundo-cinza1{
	height: 100px;
	background: url(../imgs/fundo-cinza-topo.png) top center ;
}

.fundo-cinza1 img{
	margin: 6px 10px;
	border-radius: 5px;
	border: 3px solid #225d7f;
}

.fundo-cinza1 a img{
	margin: none !important;
	border-radius: none !important;
	border: none !important;
}

.input-lista-prod-orcamentos {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.fundo-selecionavel{
	height: 49px;
	background: #d8d8d9;
}

.fundo-selecionavel h5{
	text-shadow: none;
	padding: 10px 0px 10px 10px;
}

.fundo-selecionavel input{
    margin: 12px 9px 0;
}

.btn-zul{
	height: 70px;
	width: 170px;
	background: #225d7f;
	color: #fff;
	font-size: 20px;
}
.btn-zul:hover{
	color: #fff;
}



.FormContato label {
	color: #225d7f;
}

.fa-globe:before {
    margin-right: 10px;
}

.pesquisa-orcamento p{
	margin: 15px 0px;
}


/**
============================================
			ORCAMENTO
============================================
*/

/**
============================================
			FALE CONOSCO
============================================
*/
.fale-conosco h3{
    padding-bottom: 10px;
    background: url(../imgs/barra-faleConosco.png) bottom left no-repeat;
    font-size: 40px;
    color: #225d7f;
    font-weight: 700;
}

.fale-conosco1 h3{
    padding-bottom: 10px;
    background: url(../imgs/barra-faleConosco.png) bottom left no-repeat;
    font-size: 40px;
    color: #225d7f;
    font-weight: 700;
}

.fale-conosco1 h2{
	margin-top: 40px;
	font-size: 47px;
	font-weight: 700;
	color: #000000;
	font-family: 'Lato', sans-serif;
}

.fale-conosco1 span{
	font-size: 35px;
	font-weight: 300;
}

.fundo-form1{
	background: #d8d8d9;
}

/**
============================================
			FALE CONOSCO
============================================
*/


/**
============================================
			SERVICOS
============================================
*/


.bg-servicos{
	margin-top: -55px;
	height: 335px;
	background: url(../imgs/bg-servicos.jpg) top center no-repeat;
}

.descricao-servicos h4{
	padding-bottom: 5px;
	background: url(../imgs/barra-servicos.png) left bottom no-repeat;
}


.descricao-servicos p+p{
	margin-left: 42px;
	padding-left: 50px;
	margin-top: 20px;
	background: url(../imgs/icon-assitencia.png) left no-repeat;
}

.descricao-servicos img{
	margin-left: 280px;
}

.portifolio-servico h5{
	font-size: 40px;
}
/**
============================================
			SERVICOS
============================================
*/


.hover-btn-orcamento{
	    padding-left: 0px;
}



.slider-prod-tumb .flexslider .slides  li{
	margin-right: 5px !important;
}


.descricao-servico-desc{
	height: 225px;
	overflow: hidden;
}


.topo-meu-orcamento{
	background: #fff;
	width: 670px;
	padding: 0px 10px;
}


.lista-itens-carrinho{
	margin: 10px 0px;
	overflow: hidden;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 20px;
	padding-bottom: 10px;
}


.btn-meu-orcamento{
	cursor: pointer;
}
